DATABASE_URL=
BLOB_READ_WRITE_TOKEN=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_SESSION_TOKEN=

SMTP_HOST=send.one.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
ADMIN_EMAIL=

GOOGLE_CALENDAR_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
